*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;

}
body{
  background:#081b29;
  color: #ededed;
  
}
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background:transparent;
display: flex;

justify-content : space-around;
align-items : center;
z-index: 100;
}
.logo{
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  margin-right: 615px;
}
.navbar a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  transition: .3s;

}
.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home{
  position: relative;
  height: 100vh;
  background: url();
  display: flex;
  align-items: center;
  padding: 0 10%;
  

}
.home-content {
   max-width: 600px;



}
.home-content h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
  color: #00abf0; ;
}
.home-content p{
  margin: 20px 0 40px;
  font-size: 16px;
}
.home-content .btn-box{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  
}
.btn-box a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background:#00abf0 ;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box a:hover{
  color: #00abf0;
}
.btn-box a:nth-child(2){
  background: transparent;
  color: #00abf0;
}
.btn-box a:nth-child(2)::before{
  background: #00abf0;
}
.btn-box a:nth-child(2):hover{
  color: #081b29;
}
.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}
.btn-box a:hover::before{
width: 100%;
}
.home-sci{
 position: absolute;
 bottom: 40px;
 width: 170px;
 
 display: flex;
 justify-content: space-between;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;

}
.home-sci a:hover{
  color: #081b29;
}
.home-sci a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:#00abf0;
  z-index: -1;
  transition: .5s;
 
}
.home-sci a:hover::before{
width: 100%;
}